.menu {
	
	width:1140px;
	height:100px;
	p {
		float:left;
		font-size: 40px;
		color:$mavi;
		margin-top:30px;
		margin-right:30px;
		span {color:black;}

	}

	ul {
		float:right;
		margin-top:40px;
		li {

		display:inline-block;
		border-radius: 10%;
		background-color: $mavi;
		a {

			text-align: center;
			text-decoration: none;
			color:$boz;
			line-height: 30px;
			padding: 4*$padding;
		}
		}
	}

}